[tox]
envlist = py39
skipsdist = True

[testenv]
deps =
    Behave
commands =
    coverage run -m Behave
    coverage xml

[coverage:run]
relative_files = True
source = api/
branch = True
omit =
    steps/produit_steps.py
    api/producer.py
    api/consumer.py